
.img{
    border-radius: 5px;
    width: 160px;
    height: 160px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 6px #444;
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
}
.card p {
    font-size: 1.5rem;
}